<div class="unit-converter">
  <h1>Unit Converter</h1>
</div>

<ol class="navigation">
  <li class="unit"><a class= "<%= path === '/length' ? "active" : '' %>" href="/length">Length</a></li>
  <li class="unit"><a class= "<%= path === '/weigth' ? "active" : '' %>"  href="/weigth">Weigth</a></li>
  <li class="unit"><a class= "<%= path === '/temperature' ? "active" : '' %>"  href="/temperature">Temperature</a></li>
</ol>