<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>
  
<h1 id="measurement">Temperature</h1>

<form class="form-div" action="/temperature" method="POST">
  <label for="temperature">Enter the length to convert</label>
  <input type="number" name="temperature" id="temperature" value="0" step=".001">

  <label for="unit_from">Unit to convert from</label>
  <select name="unit_from" id="unit_from">
    <option value="Celsius" selected>Celsius</option>
    <option value="Fahrenheit">Fahrenheit</option>
    <option value="Kelvin">Kelvin</option>
  </select>

  <label for="unit_to">Unit to convert to</label>
  <select name="unit_to" id="unit_to">
    <option value="Celsius" selected>Celsius</option>
    <option value="Fahrenheit">Fahrenheit</option>
    <option value="Kelvin">Kelvin</option>
  </select>

  <button type="submit">Convert</button>
</form>

</body>
</html>